<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.adapteva.cdt.mclaunch.AbstractLaunchConfigurationTabGroup1"
            id="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup"
            type="com.adapteva.cdt.mclaunch.launchConfigurationType">
         <launchMode
               description="RUN MODE"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.adapteva.cdt.mclaunch.AbstractLaunchConfigurationTabGroup1"
            id="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup1"
            type="com.adapteva.cdt.mclaunch.launchConfigurationType2">
         <launchMode
               description="DEBUG MODE"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.adapteva.cdt.mclaunch.AbstractLaunchConfigurationTabGroup1"
            id="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup1"
            type="com.adapteva.cdt.mclaunch.launchConfigurationType1">
         <launchMode
               description="DEBUG MODE"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="com.adapteva.cdt.mclaunch.LaunchConfigurationTab1"
            group="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup"
            id="com.adapteva.cdt.mclaunch.tab1"
            name="Main">
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.loader">
         </associatedDelegate>
      </tab>
      <tab
            class="com.adapteva.cdt.mclaunch.LaunchConfigurationTabLoaderOptions"
            group="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup"
            id="com.adapteva.cdt.mclaunch.tab2"
            name="E-loader options">
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.loader">
         </associatedDelegate>
         <placement
               after="com.adapteva.cdt.mclaunch.tab1">
         </placement>
      </tab>
      <tab
            class="com.adapteva.cdt.mclaunch.LaunchConfigurationTabTarget"
            group="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup1"
            id="com.adapteva.cdt.mclaunch.gdb.target"
            name="Targets">
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.mcdebug">
         </associatedDelegate>
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.scdebug">
         </associatedDelegate>
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup1"
            id="com.adapteva.cdt.mclaunch.gdb.source"
            name="Source">
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.mcdebug">
         </associatedDelegate>
         <placement
               after="com.adapteva.cdt.mclaunch.gdb.target">
         </placement>
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.scdebug">
         </associatedDelegate>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup1"
            id="com.adapteva.cdt.mclaunch.gdb.common"
            name="Common">
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.mcdebug">
         </associatedDelegate>
         <placement
               after="com.adapteva.cdt.mclaunch.gdb.source">
         </placement>
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.scdebug">
         </associatedDelegate>
      </tab>
      <tab
            class="com.adapteva.cdt.mclaunch.LaunchConfigurationTab1"
            group="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup1"
            id="com.adapteva.cdt.mclaunch.gdb.main"
            name="Main">
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.scdebug">
         </associatedDelegate>
         <placement
               after="com.adapteva.cdt.mclaunch.gdb.common">
         </placement>
      </tab>
      <tab
            class="com.adapteva.cdt.mclaunch.LaunchConfigurationTabProjectsSelection"
            group="com.adapteva.cdt.mclaunch.launchConfigurationTabGroup1"
            id="com.adapteva.cdt.mclaunch.gdb.projects"
            name="Projects">
         <associatedDelegate
               delegate="com.adapteva.cdt.mclaunch.launch.mcdebug">
         </associatedDelegate>
         <placement
               after="com.adapteva.cdt.mclaunch.gdb.common">
         </placement>
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="com.adapteva.cdt.mclaunch.launchConfigurationType"
            modes="run"
            name="Epiphany Multi Core Applications (loader)"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            id="com.adapteva.cdt.mclaunch.launchConfigurationType2"
            modes="debug"
            name="Epiphany Multi Core Applications (gdb)"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            id="com.adapteva.cdt.mclaunch.launchConfigurationType1"
            modes="debug"
            name="Epiphany Single Core Application (gdb)"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.adapteva.cdt.mclaunch.launchConfigurationType"
            icon="icons/favicon.gif"
            id="com.adapteva.cdt.mclaunch.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="com.adapteva.cdt.mclaunch.launchConfigurationType2"
            icon="icons/favicon.gif"
            id="com.adapteva.cdt.mclaunch.launchConfigurationTypeImage2">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="com.adapteva.cdt.mclaunch.launchConfigurationType1"
            icon="icons/favicon.gif"
            id="com.adapteva.cdt.mclaunch.launchConfigurationTypeImage3">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.adapteva.cdt.mclaunch.LaunchConfigurationDelegate1"
            id="com.adapteva.cdt.mclaunch.launch.loader"
            modes="run"
            name="E-loader: Epiphany Multicore Application "
            type="com.adapteva.cdt.mclaunch.launchConfigurationType">
      </launchDelegate>
      <launchDelegate
            delegate="com.adapteva.cdt.mclaunch.EGDBLaunchConfigurationDelegate"
            id="com.adapteva.cdt.mclaunch.launch.mcdebug"
            modes="debug"
            name="GDB: Epiphany Multi Core Applications "
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="com.adapteva.cdt.mclaunch.launchConfigurationType2">
      </launchDelegate>
      <launchDelegate
            delegate="com.adapteva.cdt.mclaunch.EGDBLaunchConfigurationDelegate"
            id="com.adapteva.cdt.mclaunch.launch.scdebug"
            modes="debug"
            name="GDB: Epiphany Single Core Application"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="com.adapteva.cdt.mclaunch.launchConfigurationType1">
      </launchDelegate>
   </extension>

</plugin>
