<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <tool
            command="atdsp-unknown-elf-gcc"
            id="cdt.managedbuild.tool.gnu.c.linker.atdsp"
            name="ATDSP linker"
            natureFilter="cnature"
            superClass="cdt.managedbuild.tool.gnu.c.linker">
      </tool>
      <tool
            command="atdsp-unknown-elf-gcc"
            id="cdt.managedbuild.tool.gnu.c.compiler.atdsp"
            name="ATDSP compiler"
            superClass="cdt.managedbuild.tool.gnu.c.compiler">
      </tool>
      <tool
            command="atdsp-unknown-elf-as"
            errorParsers="org.eclipse.cdt.core.GASErrorParser"
            id="cdt.managedbuild.tool.gnu.assembler.atdsp"
            name="ATDSP assembler"
            outputFlag="-o"
            superClass="cdt.managedbuild.tool.gnu.assembler">
      </tool>
      <tool
            command="atdsp-unknown-elf-ar"
            id="cdt.managedbuild.tool.gnu.archiver.atdsp"
            isAbstract="true"
            name="ATDSP archiver"
            superClass="cdt.managedbuild.tool.gnu.archiver">
      </tool>
      <toolChain
            archList="all"
            id="cdt.managedbuild.toolchain.gnu.atdsp.base"
            name="ATDSP"
            osList="all"
            targetTool="cdt.managedbuild.tool.gnu.cpp.linker.atdsp.base;cdt.managedbuild.tool.gnu.c.linker.atdsp.base;cdt.managedbuild.tool.gnu.archiver">
         <targetPlatform
               archList="all"
               binaryParser="org.eclipse.cdt.core.ELF"
               id="cdt.managedbuild.target.gnu.platform.atdsp.base"
               name="%PlatformName.Dbg"
               osList="all">
         </targetPlatform>
         <builder
               id="cdt.managedbuild.target.gnu.builder.atdsp.base"
               superClass="cdt.managedbuild.target.gnu.builder">
         </builder>
         <tool
               id="cdt.managedbuild.tool.gnu.assembler.atdsp.base"
               superClass="cdt.managedbuild.tool.gnu.assembler.atdsp">
         </tool>
         <tool
               id="cdt.managedbuild.tool.gnu.archiver.atdsp.base"
               superClass="cdt.managedbuild.tool.gnu.archiver.atdsp">
            <enablement
                  type="ALL">
               <checkBuildProperty
                     property="org.eclipse.cdt.build.core.buildArtefactType"
                     value="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
               </checkBuildProperty>
            </enablement>
         </tool>
         <tool
               id="cdt.managedbuild.tool.gnu.c.compiler.atdsp.base"
               superClass="cdt.managedbuild.tool.gnu.c.compiler.atdsp">
         </tool>
         <tool
               id="cdt.managedbuild.tool.gnu.c.linker.atdsp.base"
               superClass="cdt.managedbuild.tool.gnu.c.linker.atdsp">
            <enablement
                  type="ALL">
               <not>
                  <checkBuildProperty
                        property="org.eclipse.cdt.build.core.buildArtefactType"
                        value="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
                  </checkBuildProperty>
               </not>
            </enablement>
         </tool>
      </toolChain>
      <configuration
            artifactExtension="elf"
            cleanCommand="rm -rf"
            id="cdt.managedbuild.config.gnu.atdsp.base">
         <enablement
               attribute="artifactExtension"
               extensionAdjustment="false"
               type="CONTAINER_ATTRIBUTE"
               value="dll">
            <checkBuildProperty
                  property="org.eclipse.cdt.build.core.buildArtefactType"
                  value="org.eclipse.cdt.build.core.buildArtefactType.sharedLib">
            </checkBuildProperty>
         </enablement>
         <enablement
               attribute="artifactExtension"
               extensionAdjustment="false"
               type="CONTAINER_ATTRIBUTE"
               value="a">
            <checkBuildProperty
                  property="org.eclipse.cdt.build.core.buildArtefactType"
                  value="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
            </checkBuildProperty>
         </enablement>
      </configuration>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="cdt.managedbuild.target.gnu.atdsp.exe"
            isAbstract="false"
            isTest="false">
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
               cleanCommand="rm -rf"
               id="cdt.managedbuild.config.gnu.atdsp.exe.debug"
               name="Debug"
               parent="cdt.managedbuild.config.gnu.atdsp.base">
            <toolChain
                  id="cdt.managedbuild.toolchain.gnu.atdsp.exe.debug"
                  superClass="cdt.managedbuild.toolchain.gnu.atdsp.base">
               <targetPlatform
                     id="cdt.managedbuild.target.gnu.platform.atdsp.exe.debug"
                     superClass="cdt.managedbuild.target.gnu.platform.atdsp.base">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.target.gnu.builder.atdsp.exe.debug"
                     superClass="cdt.managedbuild.target.gnu.builder.atdsp.base">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.gnu.c.compiler.atdsp.exe.debug"
                     superClass="cdt.managedbuild.tool.gnu.c.compiler.atdsp.base">
                  <option
                        id="gnu.c.compiler.atdsp.exe.debug.option.optimization.level"
                        superClass="gnu.c.compiler.option.optimization.level">
                  </option>
                  <option
                        id="gnu.c.compiler.atdsp.exe.debug.option.debugging.level"
                        superClass="gnu.c.compiler.option.debugging.level">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.gnu.c.linker.atdsp.exe.debug"
                     superClass="cdt.managedbuild.tool.gnu.c.linker.atdsp.base">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.gnu.assembler.atdsp.exe.debug"
                     superClass="cdt.managedbuild.tool.gnu.assembler.atdsp.base">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               id="cdt.managedbuild.config.gnu.atdsp.exe.release"
               name="Release"
               parent="cdt.managedbuild.config.gnu.atdsp.base">
            <toolChain
                  id="cdt.managedbuild.toolchain.gnu.atdsp.exe.release"
                  superClass="cdt.managedbuild.toolchain.gnu.atdsp.base">
               <targetPlatform
                     id="cdt.managedbuild.target.gnu.platform.atdsp.exe.release"
                     superClass="cdt.managedbuild.target.gnu.platform.atdsp.base">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.target.gnu.builder.atdsp.exe.release"
                     superClass="cdt.managedbuild.target.gnu.builder.atdsp.base">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.gnu.c.compiler.atdsp.exe.release"
                     superClass="cdt.managedbuild.tool.gnu.c.compiler.atdsp.base">
                  <option
                        id="gnu.c.compiler.atdsp.exe.release.option.optimization.level"
                        superClass="gnu.c.compiler.option.optimization.level">
                  </option>
                  <option
                        id="gnu.c.compiler.atdsp.exe.release.option.debugging.level"
                        superClass="gnu.c.compiler.option.debugging.level">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.gnu.c.linker.atdsp.exe.release"
                     superClass="cdt.managedbuild.tool.gnu.c.linker.atdsp.base">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.gnu.assembler.atdsp.exe.release"
                     superClass="cdt.managedbuild.tool.gnu.assembler.atdsp.base">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="cdt.managedbuild.target.gnu.atdsp.lib"
            isAbstract="false"
            isTest="false">
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
               cleanCommand="rm -rf"
               id="cdt.managedbuild.config.gnu.atdsp.lib.debug"
               name="Debug"
               parent="cdt.managedbuild.config.gnu.atdsp.base">
            <toolChain
                  id="cdt.managedbuild.toolchain.gnu.atdsp.lib.debug"
                  superClass="cdt.managedbuild.toolchain.gnu.atdsp.base">
               <targetPlatform
                     id="cdt.managedbuild.target.gnu.platform.atdsp.lib.debug"
                     superClass="cdt.managedbuild.target.gnu.platform.atdsp.base">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.target.gnu.builder.atdsp.lib.debug"
                     superClass="cdt.managedbuild.target.gnu.builder.atdsp.base"
                     supportsManagedBuild="false">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.gnu.c.compiler.atdsp.lib.debug"
                     superClass="cdt.managedbuild.tool.gnu.c.compiler.atdsp.base">
                  <option
                        id="gnu.c.compiler.atdsp.lib.debug.option.optimization.level"
                        superClass="gnu.c.compiler.option.optimization.level">
                  </option>
                  <option
                        id="gnu.c.compiler.atdsp.lib.debug.option.debugging.level"
                        superClass="gnu.c.compiler.option.debugging.level">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.gnu.archiver.atdsp.lib.debug"
                     superClass="cdt.managedbuild.tool.gnu.archiver.atdsp.base">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.gnu.assembler.atdsp.lib.debug"
                     superClass="cdt.managedbuild.tool.gnu.assembler.atdsp.base">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               cleanCommand="rm -rf"
               id="cdt.managedbuild.config.gnu.atdsp.lib.release"
               name="Release"
               parent="cdt.managedbuild.config.gnu.atdsp.base">
            <toolChain
                  id="cdt.managedbuild.toolchain.gnu.atdsp.lib.release"
                  superClass="cdt.managedbuild.toolchain.gnu.atdsp.base">
               <targetPlatform
                     id="cdt.managedbuild.target.gnu.platform.atdsp.lib.release"
                     superClass="cdt.managedbuild.target.gnu.platform.atdsp.base">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.target.gnu.builder.atdsp.lib.release"
                     superClass="cdt.managedbuild.target.gnu.builder.atdsp.base">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.gnu.c.compiler.atdsp.lib.release"
                     superClass="cdt.managedbuild.tool.gnu.c.compiler.atdsp.base">
                  <option
                        id="gnu.c.compiler.atdsp.lib.release.option.optimization.level"
                        superClass="gnu.c.compiler.option.optimization.level">
                  </option>
                  <option
                        id="gnu.c.compiler.atdsp.lib.release.option.debugging.level"
                        superClass="gnu.c.compiler.option.debugging.level">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.gnu.archiver.atdsp.lib.release"
                     superClass="cdt.managedbuild.tool.gnu.archiver.atdsp.base">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.gnu.assembler.atdsp.lib.release"
                     superClass="cdt.managedbuild.tool.gnu.assembler.atdsp.base">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
	     
	                   
  
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateAssociations">
      <template
            id="org.eclipse.cdt.build.core.templates.EmptyProject">
         <toolChain
               id="cdt.managedbuild.toolchain.gnu.atdsp.base">
         </toolChain>
      </template>
      <template
            id="org.eclipse.cdt.build.core.templates.HelloWorldCAnsiProject">
         <toolChain
               id="cdt.managedbuild.toolchain.gnu.atdsp.base">
         </toolChain>
      </template>
      <template
            id="adapteva.com.cdt.build.adspgcc.multicore">
         <toolChain
               id="cdt.managedbuild.toolchain.gnu.atdsp.base">
         </toolChain>
      </template>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="adapteva.com.cdt.build.adspgcc.multicore"
            location="templates/projecttemplates/HelloWorldATDSPCProject/template.xml"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
   </extension>

</plugin>
